<!-- full list of documentation -->
<div class="doc_app" ng-app="leapDocApp">

    <div ng-controller="documentationItem">
        <div class="api-guide">
            <article ng-repeat="toc_item in content.toc">
                <section ng-repeat="section_item in toc_item.sections | filter:active_section()">
                    <a href="#" name="{{section_item.name }}"  id="{{ section_item.name }}" ></a>
                    <div doc-section section_item="section_item">
                    </div>
                </section>
                <div class="row-fluid">
                    <div class="span6 "><button>Back to top</button></div>
                </div>
            </article>
        </div>
    </div>
</div>

<script class="javsacript">
    $(function(){

        window.section = '';

    })
</script>
