<div class="doc_app" ng-app="leapDocApp">
    <div ng-controller="documentation">

        <div class=" api-guide-left-nav visible-desktop">
            <!-- {{ foo}} -->
            <div table-of-contents="menu">

            </div>
        </div>
        <!-- end left navigation -->
        <div class="row-fluid">
            <div class="span1">
                <!-- takes up space needed for left nav -->
            </div>
            <div class="span11 api-guide">
                <p>Section {{section }}</p>
                <article ng-repeat="toc_item in content.toc">
                    <a name="" class="anchor"></a>
                    <h1>{{ toc_item.title }}</h1>
                    <section ng-repeat="section_item in toc_item.sections">
                        <div doc-section>

                        </div></section>

                </article>
            </div>
        </div>
        <!-- end api row-fluid -->
    </div>
</div>